<table class="table table-bordered table-sm">
    <thead class="table-light">
        <tr>
            <th>STT</th>
            <th>Tên nhân viên</th>
            <th>Mã nhân viên</th>
            <th>Số tài khoản</th>
            <th>Chức danh</th>
            <th>Định mức</th>
            <th>Thực tế sử dụng</th>
            <th>Phải thu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nguyễn A</td>
            <td>NV01</td>
            <td>0901234567</td>
            <td>200,000</td>
            <td>1.000.000</td>
            <td>500.000</td>
            <td>100.000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Trần B</td>
            <td>NV02</td>
            <td>00001</td>
            <td>GD</td>
            <td>1.000.000</td>
            <td>500.000</td>
            <td>100.000</td>
        </tr>
    </tbody>
</table>
