<table class="table table-bordered table-sm">
    <thead class="table-light">
        <tr>
            <th>Số</th>
            <th>Tên nhân viên</th>
            <th>Mã NV</th>
            <th>Tài khoản</th>
            <th>Hệ số lương</th>
            <th>Thu nhập chịu thuế tháng 8/2025</th>
            <th>Thuế phải nộp</th>
            <th>Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nguyễn Văn C</td>
            <td>NV10</td>
            <td>10,000,000</td>
            <td>11,000,000</td>
            <td>4,400,000</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Trần Thị D</td>
            <td>NV11</td>
            <td>20,000,000</td>
            <td>11,000,000</td>
            <td>4,400,000</td>
            <td>4,600,000</td>
            <td>460,000</td>
        </tr>
    </tbody>
</table>
