<table class="table table-bordered table-sm">
    <thead class="table-light">
        <tr>
            <th>Số</th>
            <th>Tên nhân viên</th>
            <th>Mã NV</th>
            <th>Số tài khoản</th>
            <th>Hệ số lương</th>
            <th>Thu ĐFCĐ</th>
            <th>Quỹ tương trợ XH</th>
            <th>Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nguyễn 001</td>
            <td>ZZZ</td>
            <td>123456</td>
            <td>3.2</td>
            <td>100,000</td>
            <td>50,000</td>
            <td>150,000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn 002</td>
            <td>ZZZ</td>
            <td>789012</td>
            <td>2.8</td>
            <td>90,000</td>
            <td>40,000</td>
            <td>130,000</td>
        </tr>
    </tbody>
</table>
